* {
	font-family: "Agave Nerd Font";
	font-size: 10px;
	font-weight: bold;
	margin: 0px;
	outline: none;
	border: none;
	border-radius: 10px;
}

window {
	background-color: rgba(24, 25, 38, 0.5);
}

image {
	margin-right: 5px;
}

#text:selected {
	color: #1e2030;
}

#input {
	background-color: #1e2030;
	color: #cad3f5;
	padding: 5px 10px;
	margin: 10px;
	margin-bottom: 3px;
}

#inner-box {
	margin: 15px;
}

#outer-box {
	border: 5px solid #1e2030;
	padding: 5px;
}

@keyframes gradient_f {
	0% {
		background-position: 0% 200%;
	}
	50% {
		background-position: 200% 0%;
	}
	100% {
		background-position: 400% 200%;
	}
}

#entry:selected {
	background: radial-gradient(circle, rgba(138, 173, 244,1) 0%, rgba(138, 173, 244,1) 12%, rgba(145, 215, 227,1) 19%, rgba(189,169,247,1) 20%, rgba(182,171,247,1) 24%, rgba(138, 173, 244,1) 36%, rgba(177,172,247,1) 37%, rgba(170,173,248,1) 48%, rgba(125, 196, 228,1) 52%, rgba(166,174,248,1) 52%, rgba(160,175,248,1) 59%, rgba(139, 213, 202,1) 66%, rgba(155,176,248,1) 67%, rgba(152,177,248,1) 68%, rgba(73, 77, 100,1) 77%, rgba(148,178,249,1) 78%, rgba(144,179,250,1) 82%, rgba(180,190,254,1) 83%, rgba(141,179,250,1) 90%, rgba(137,180,250,1) 100%);
	background-size: 400% 400%;
	animation: gradient_f linear infinite;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	animation-duration: 10.0s;
}
